:root {
  overflow: none;
  overflow-x: hidden;
}

.NavigationBar {
  display: block;
  background: darkslategrey;
  margin: 0;
  padding: 5px;
  width: 100%;
  text-align: right;
  font-size: 2.5em;
}
.NavigationBar::-webkit-scrollbar {
  display: none;
}

.NavigationBar a {
  color: white;
  text-decoration: none;
}

.NavigationBar button {
  background: transparent;
  border: none;
  color: white;
}

.ProductPageWrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background: lightslategray;
}

.ProductPageWrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  width: 250px;
  height: 325px;
  margin: 5px;
  padding: 5px;
  font-size: 1.3em;
}

.ProductPageWrapper div img {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.ProductPageWrapper div span {
  width: 100%;
  text-align: center;
}

.ProductPageWrapper div button {
  background: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  line-height: 2em;
  width: 70%;
  padding: 0;
  margin: 0 auto;
}

.ProductPageWrapper div button:hover {
  background: white;
  color: black;
}

.sidebar-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: grey;
}

.sidebar-container-active {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: grey;
  animation: showmenu 1s ;
  animation-fill-mode: forwards;
}

.sidebar-container-hidden {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: grey;
  animation: hidemenu 1s;
  animation-fill-mode: forwards;
}

@keyframes showmenu {
  0% { transform: translateX(300px); }
  100% { transform: translateX(0); }
}

@keyframes hidemenu {
  0% { transform: translateX(0); }
  100% { transform: translateX(300px); }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
