:root {
  overflow: none;
  overflow-x: hidden;
}

.react-icons {
  vertical-align: middle;
  background: red;
}

.NavigationBar {
  display: block;
  background: darkslategrey;
  margin: 0;
  padding: 5px;
  width: 100%;
  text-align: right;
  font-size: 2.5em;
}
.NavigationBar::-webkit-scrollbar {
  display: none;
}

.NavigationBar a {
  color: white;
  text-decoration: none;
}

.NavigationBar button {
  background: transparent;
  border: none;
  color: white;
}

.ProductPageWrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background: lightslategray;
}

.ProductPageWrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  width: 250px;
  height: 325px;
  margin: 5px;
  padding: 5px;
  font-size: 1.3em;
}

.ProductPageWrapper div img {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.ProductPageWrapper div span {
  width: 100%;
  text-align: center;
}

.ProductPageWrapper div button {
  background: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  line-height: 2em;
  width: 70%;
  padding: 0;
  margin: 0 auto;
}

.ProductPageWrapper div button:hover {
  background: white;
  color: black;
}

.sidebar-container {
  position: absolute;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background: grey;
}

.sidebar-container-active {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: grey;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 3px solid;
  margin-bottom: 5px;
  font-size: 0.6em;
}

.sidebar-item {
  display: flex;
  flex-flow: wrap;
  font-size: 0.7em;
}

.sidebar-item img {
  width: 15%;
  margin-left: 5%;
}
.sidebar-item span {
  display: flex;
  align-self: center;
  justify-content: right;
  text-align: right;
  width: 77%;
  margin-right: 3%;
  font-size: 0.7em;
}

.sidebar-item .sidebar-item-price {
  width: 70%;
  margin-right: 0;
}

.sidebar-item input {
  border: none;
  width: 30px;
  font-size: 0.7em;
  text-align: center;
  background: transparent;
}

.sidebar-item svg {
  display: inline-block;
  height: 42px;
}

.sidebar-bottom {
  border-top: 3px solid;
  margin-top: 5px;
  font-size: 0.8em;
}
