.NavigationBar {
  display: block;
  background: darkslategrey;
  margin: 0;
  padding: 5px;
  width: 100%;
  text-align: right;
}

.NavigationBar a {
  color: white;
  text-decoration: none;
}

.ProductPageWrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background: lightslategray;
}

.ProductPageWrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  width: 100px;
  height: 120px;
  margin: 5px;
  padding: 5px;
  font-size: 0.5em;
}

.ProductPageWrapper div img {
  width: 70%;
  margin: auto;
  text-align: center;
}

.ProductPageWrapper div span {
  width: 100%;
  text-align: center;
}

.ProductPageWrapper div button {
  background: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  line-height: 1em;
  width: 70%;
  margin: 0 auto;
}

.ProductPageWrapper div button:hover {
  background: white;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
